<a href="https://natalie.mu/music/news/281636" target="_blank">2018年5月10日 活動再開発表おめでとう〜！</a>
<br>
<br>
<%= image_tag('ell', style: 'max-width: 400px; width: 60%;') %>
<br>
<br>
<b>
<%= link_to '【投票する】', votes_path %>
</b>
<br>
<br>
<br>


<% top_count = @songs.first.votes_count + 1 %>
<div class="container">
  <table style="width: 100%;">
    <% @songs.each_with_index do |song, i| %>
      <% percentage = (song.votes_count / top_count.to_f) * 100 %>
      <tr>
        <td style="width: 20px;"> <b><%= i + 1 %></b> </td>
        <td class="songname"> <%= link_to song.title, song_path(song) %> </td>
        <td style="width: 35px;"> <%= song.votes_count %> </td>
        <td> <div class="block" style="width: <%= percentage.to_i %>%;">.</div> </td>
      </tr>
    <% end %>
  </table>
</div>
<br>
<%= link_to 'もっと見る', ranks_index_path %>
