<h2>投票結果</h2>

<%= l(Time.zone.now, format: :long) %>
現在

<br><br>
<%= link_to '投票する', votes_path %>
<br><br>

<div class="container">
  <table>
    <% @songs.each_with_index do |song, i| %>
      <tr>
        <td> <b><%= i + 1 %></b> </td>
        <td> <%= link_to song.title, song_path(id: song.to_param) %> </td>
        <td> <%= song.votes_count %> </td>
      </tr>
    <% end %>
  </table>
</div>

<a href="/">戻る</a>
