<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <title>エルレで好きな曲投票するやつ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="main">
      <h1>エルレで好きな曲投票する</h1>
      <p id="notice"><%= notice if notice %></p>
      <p id="alert"><%= alert if alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
